* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'calibri', sans-serif;
}

main {
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

.popup-wrapper {
  width: 400px;
  min-height: 600px;
  padding: 30px;
  position: relative;
}

.preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.preloader-wrapper.loading {
  opacity: 1;
  pointer-events: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader-wrapper svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 1s;
  animation-name: rotation;
  animation-iteration-count: infinite;
}

.text-field {
  padding: 15px;
  border: 2px solid #df4c4c;
  position: relative;
  margin-top: 15px;
}

.done-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #df4c4c;
  opacity: 0;
  pointer-events: 0;
  transition: opacity 0.3s ease;
}

.done-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.copy-button {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.copy-button:hover {
  border-color: #df4c4c;
}

.copy-button svg {
  display: block;
  width: 18px;
  height: 18px;
}
